<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center">Call or Email Us Anytime!</h4>
  </div>
  <div class="modal-body">
    <p>Our #1 goal at WMC is to ensure our customers are satisfied. We love hearing from you and greatly appreciate you taking the time to contact us with <strong>questions</strong>, <strong>comments</strong>, <strong>job inquiries</strong>, or simply to <strong>schedule an appointment</strong>!</p><br>
    <i class="fa fa-heart"></i><br>
    <span> - The WMC team</span>
  </div>
  <div class="modal-footer">
        <div class="row text-center">
            <div class="hidden-xs">
                <div class="col-sm-6">
                    <a href="mailto:contact@washmycarva.com" class="btn btn-sm ghost-btn black">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <br> contact@washmycarva.com</a>
                </div>
                <div class="col-sm-6">
                    <a href="tel:+12028109274" class="btn btn-sm ghost-btn black">
                      <i class="fa fa-phone fa-2x"></i>
                      <br>
                      202.810.9274</a>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="col-xs-6">
                    <a href="mailto:contact@washmycarva.com" class="btn btn-xs ghost-btn black">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <br> contact@washmycarva.com</a>
                </div>
                <div class="col-xs-6">
                    <a href="tel:+12028109274" class="btn btn-xs ghost-btn black">
                      <i class="fa fa-phone fa-2x"></i>
                      <br>
                      202.810.9274</a>
                </div>
            </div>
        </div>
    </div>
</div>