<div id="location-templ" class="col-sm-6">
	<div class="panel panel-default option-panel" 
	data-bind="click: $root.OrderFormViewModel.OnClickLocationPanel.bind($data, $root.OrderFormViewModel), css: {'selected' : $data.selected}">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left" data-bind="text: $data.title"></h3>&nbsp;
			<i class="fa fa-check fa-inverse" data-bind="visible: $data.selected"></i>
			<button data-bind="click: $root.OrderFormViewModel.OnDeleteLocationPanel.bind($data, $root.OrderFormViewModel)"
			class="btn btn-md btn-link pull-right">
				<i class="fa fa-trash fa-inverse"></i>
			</button>
		</div>
		<div class="panel-body">
			<span data-bind="text: $data.street"></span><br>
			<span data-bind="text: $data.city"></span><br>
			<span data-bind="text: $data.state"></span>
			<span data-bind="text: $data.zip"></span>
		</div>
	</div>
</div>