<div class="modal-content">
    <div class="modal-header text-center">
        <img id="wmc-mini-logo" src="img/wmc_logo.png"></img>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <center id="login-form-alert" class="alert alert-danger fade in" role="alert" hidden>
            <button type="button" class="close" data-bind="click: OnDismissMsg">
                <span aria-hidden="true">&times;</span>
            </button>
            <span data-bind="text: loginFormMsg"></span>
        </center>
        <center id="login-form-info" class="alert alert-info fade in" role="alert" hidden>
            <button type="button" class="close" data-bind="click: OnDismissMsg">
                <span aria-hidden="true">&times;</span>
            </button>
            <span data-bind="text: loginFormMsg"></span>
        </center>
        <div data-bind="visible: ShowForgotPwd">
            <form id="forgot-pwd-form" data-bind="submit: OnSubmitForgotPwd">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: email" class="form-control" type="email" name="email" placeholder="johnny.appleseed@yahoo.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: verifyEmail" class="form-control" type="email" name="verifyEmail" placeholder="Verify Email">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <button type="button" class="btn btn-lg btn-default" data-bind="click: OnCancelForgotPwd">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary">OK</button>
                </div>      
            </form>               
        </div>
        <div data-bind="visible: ShowCreateAcct">
            <center id="login-form-info" class="alert alert-info fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span><strong>Create an account and get your first wash FREE!</strong> Creating an account makes future visits quicker by remembering certain information.</span>
            </center>
            <form id="create-acct-form" data-bind="submit: OnCreateAcct">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: email" class="form-control" type="email" name="email" placeholder="johnny.appleseed@yahoo.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: verifyEmail" class="form-control" type="email" name="verifyEmail" placeholder="Verify Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: pwd" class="form-control" type="password" name="pwd" placeholder="***********">
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible: ShowCreateAcct">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input id="verifyPwd" data-bind="value: verifyPwd" class="form-control" type="password" name="verifyPwd" placeholder="Verify Password">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <button type="button" class="btn btn-lg btn-default" data-bind="click: OnCancelCreateAcct">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary">Create</button>
                </div>        
            </form>
        </div>
        <div data-bind="visible: ShowLogin">
            <form id="login-form" data-bind="submit: OnLogIn">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: email" class="form-control" type="email" name="email" placeholder="johnny.appleseed@yahoo.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                            <input data-bind="value: pwd" class="form-control" type="password" name="pwd" placeholder="***********">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-link col-xs-12 col-sm-4" data-bind="click: OnShowCreateAcct">Create Account</button>
                <button type="button" class="btn btn-sm btn-link col-xs-12 col-sm-4" data-bind="click: OnShowForgotPwd">Forgot Password</button>
                <button type="button" class="btn btn-sm btn-link col-xs-12 col-sm-4" data-bind="click: OnContinueAsGuest">Continue As Guest</button>
            </div>
        </div>
    </div>
</div>