<div id="order-form-tmpl" class="container modal-content">
  <div class="row">
    <legend>Order Details</legend>
    <div class="form-group col-sm-12">
      <label class="control-label" for="checkbox">Service Options</label>
      <div class="form-inline">
        <div class="checkbox">
          <label><input type="checkbox" disabled checked>&nbsp;Exterior Hand Wash&nbsp;(<strong>$<span data-bind="text: WASH_COST"></span></strong>)</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" data-bind="checked: addShine">&nbsp;Deep Tire Clean & Shine&nbsp;(<strong>$<span data-bind="text: TIRE_SHINE_COST"></span></strong>)</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" data-bind="checked: addWax">&nbsp;Hand Wax & Buff&nbsp;(<strong>$<span data-bind="text: WAX_COST"></span></strong>)</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" data-bind="checked: addInterior">&nbsp;Full Interior&nbsp;(<strong>$<span data-bind="text: INTERIOR_COST"></span></strong>)</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label">Date</label>
      <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label" for="select">Time Range</label>
      <select class="form-control" data-bind="foreach: timeRangeOptions">
        <option data-bind="attr:{ disabled: $data.disabled, value: $data.key }, text: $data.range"></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label class="control-label" for="select">Description</label>
      <textarea data-bind="value: description" maxlength="100" class="form-control" placeholder="Anything else we should know? What condition is your vehicle in? Will it be parked in the street, driveway, or garage? Special requests?"></textarea>
    </div>
  </div>
  <div class="row">
    <legend class="col-xs-12">Vehicles
      <button data-bind="click: OnAddNewVehicle, visible: !showAddVehicleForm()" class="btn btn-sm btn-success pull-right">Add New&nbsp;
        <span class="fa fa-plus"></span>
      </button>
      <div data-bind="visible: showAddVehicleForm" class="pull-right">
        <button data-bind="click: OnCancelNewVehicle" class="btn btn-danger"><span class="fa fa-times"></span></button>
        <button class="btn btn-success" data-bind="click: OnSaveNewVehicle"><span class="fa fa-save"></span></button>
      </div>
    </legend>
    <form id="add-vehicle-form" data-toggle="validator" role="form" data-bind="visible: showAddVehicleForm" autocomplete="off">
      <div class="form-group">
        <label class="col-sm-1 control-label">Make</label>
        <div class="col-sm-5">
          <input data-bind="value: make" name="make" placeholder="Volkswagen" class="form-control">
        </div>
        <label class="col-sm-1 control-label">Model</label>
        <div class="col-sm-5">
          <input data-bind="value: model" name="model" placeholder="Golf" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">Color</label>
        <div class="col-sm-5">
          <input data-bind="value: color" name="color" maxlength="12" placeholder="Silver" class="form-control">
        </div>
        <label class="col-sm-1 control-label">Tag*</label>
        <div class="col-sm-5">
          <input data-bind="value: tag" name="tag" maxlength="12" placeholder="000-0000" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">Year</label>
        <div class="col-sm-5">
          <select data-bind="options: carYears, value: carYear" class="form-control"></select>
        </div>
        <label class="control-label col-sm-1" for="select">Size</label>
        <div class="col-sm-5">
          <select data-bind="options: carSizes, optionsText: 'size', value: selectedCarSize" class="form-control"></select>
        </div>
      </div>
    </form>
  </div>
  <div class="row" data-bind="template: { name: 'vehicle-tmpl', foreach: cars}"></div>
  <div class="row">
    <legend class="col-xs-12">Location
      <button data-bind="click: OnAddNewLocation, visible: !showAddLocationForm()" class="btn btn-sm btn-success pull-right">Add New&nbsp;
        <span class="fa fa-plus"></span>
      </button>
      <div data-bind="visible: showAddLocationForm" class="pull-right">
        <button data-bind="click: OnCancelNewLocation" class="btn btn-danger"><span class="fa fa-times"></span></button>
        <button class="btn btn-success" data-bind="click: OnSaveNewLocation"><span class="fa fa-save"></span></button>
      </div>
    </legend>
    <form id="add-location-form" data-toggle="validator" role="form" data-bind="visible: showAddLocationForm" autocomplete="off">
      <div class="form-group">
        <label class="col-sm-1 control-label">Street</label>
        <div class="col-sm-11">
          <input data-bind="value: street" name="street" placeholder="Street" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">City</label>
        <div class="col-sm-11">
          <input data-bind="value: city" name="city" placeholder="City" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">State</label>
        <div class="col-sm-3">
          <input data-bind="value: state" name="state" maxlength="2" placeholder="XX" class="form-control">
        </div>
        <label class="col-sm-1 control-label">Zip</label>
        <div class="col-sm-3">
          <input data-bind="value: zip" name="zip" maxlength="9" placeholder="Postal Code" class="form-control">
        </div>
        <label class="col-sm-1 control-label">Type</label>
        <div class="col-sm-3">
          <select class="form-control" data-bind="options: locationTitleOptions, value: title"></select>
        </div>
      </div>
    </form>
  </div>
  <div class="row" data-bind="template: { name: 'location-tmpl', foreach: locations}"></div>
  <form id="order-details-form" data-toggle="validator" role="form" autocomplete="off">
  <div class="row">
    <h5>Contact</h5>
    <div class="form-group">
      <label class="col-sm-1 control-label">Email</label>
      <div class="col-sm-5">
        <input type="value: email" name="email" maxlength="45" placeholder="johnny@appleseed.com" class="form-control">
      </div>
      <label class="col-sm-1 control-label">Phone</label>
      <div class="col-sm-5">
        <input data-bind="value: phone" name="phone" maxlength="12" placeholder="000-000-0000" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <legend>Billing Address</legend>
    <div class="checkbox">
      <label>
        <input id="billingCheckbox" type="checkbox" class="checkbox" data-bind="checked: showBillingAddress">Same as above</label>
      </div>
      <fieldset data-bind="visible: !showBillingAddress()">
        <div class="form-group">
          <label class="col-sm-4 control-label">Street</label>
          <div class="col-sm-6">
            <input data-bind="value: billStreet" name="billstreet" placeholder="Street" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">City</label>
          <div class="col-sm-6">
            <input data-bind="value: billCity" name="billcity" placeholder="City" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">State</label>
          <div class="col-sm-6">
            <input data-bind="value: billState" name="billstate" maxlength="2" placeholder="XX" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Zip</label>
          <div class="col-sm-6">
            <input data-bind="value: billZip" name="billzip" maxlength="9" placeholder="Zip" class="form-control">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <legend>Payment</legend>
      <div class="form-group">
        <label class="col-sm-4 control-label">Card Holder's Name</label>
        <div class="col-sm-6">
          <input data-bind="value: ccName" name="ccname" maxlength="70" placeholder="Card Holder Name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Card Number</label>
        <div class="col-sm-6">
          <input data-bind="value: ccNumber" name="ccnumber" maxlength="19" placeholder="Card Number" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Card Expiry Date</label>
        <div class="col-sm-6">
          <div class="form-inline">
            <select data-bind="options: ccExpiryMos, value: ccExpiryMo" data-stripe="exp-month" class="card-expiry-month stripe-sensitive form-control"></select>
            &nbsp;&nbsp;
            <select data-bind="options: ccExpiryYrs, value: ccExpiryYr" data-stripe="exp-year" class="stripe-sensitive form-control"></select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">CVV/CVV2</label>
        <div class="col-sm-3">
          <input data-bind="value: cvv" name="cvv" placeholder="CVV" maxlength="4" class="form-control">
        </div>
      </div>
    </div>

    <!-- Important notice -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Please Review Your Order!</h3>
      </div>
      <div class="panel-body">
        <p data-bind="html: orderSummary"></p>
        <p>Your card will be charged $<strong data-bind="text: orderTotal"></strong> after submit.</p>
      </div>
    </div>
  </form>

  <!-- Submit -->
  <div class="control-group">
    <div class="controls">
      <center>
        <button data-bind="click: OnFormCancel" class="btn btn-secondary">Cancel</button>
        <button class="btn btn-success" data-bind="click: OnSubmit">Confirm</button>
      </center>
    </div>
  </div>
</div> <!--.container-->