<div class="modal-content">
  <div class="modal-body">
    <div data-bind="visible: showNewUserAlert" class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Nice!</strong> You're all signed up!<!-- <br><strong>Check your email for your discounted wash coupon!</strong> -->
    </div>
    <div class="row">
      <legend class="col-xs-12">Order Details</legend>
      <div class="form-group col-xs-12">
        <label class="control-label" for="checkbox">Service Options</label>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" data-bind="checked: addWash">&nbsp;<span data-bind="text: WASH_TITLE"></span></label>&nbsp;(<strong>$<span data-bind="text: WASH_COST"></span></strong>)
          </div>
          <div class="checkbox">
            <label data-bind="css: { 'strike-text': !addWash() }"><input type="checkbox" data-bind="checked: addShine, enable: addWash">&nbsp;<span data-bind="text: TIRE_SHINE_TITLE"></span>&nbsp;</label>(<strong>$<span data-bind="text: TIRE_SHINE_COST"></span></strong>)
          </div>
          <div class="checkbox">
            <label data-bind="css: { 'strike-text': !addWash() }"><input type="checkbox" data-bind="checked: addWax, enable: addWash">&nbsp;<span data-bind="text: WAX_TITLE"></span></label>&nbsp;(<strong>$<span data-bind="text: WAX_COST"></span></strong>)
          </div>
          <div class="checkbox">
            <label><input type="checkbox" data-bind="checked: addInterior">&nbsp;<span data-bind="text: INTERIOR_TITLE"></span></label>&nbsp;(<strong>$<span data-bind="text: INTERIOR_COST"></span></strong>)
          </div>
          <div data-bind="visible: addInterior" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Heads Up!</strong> Interior work requires you to be present so we can enter your vehicle. Be sure to remove any personal items. We are not responsible for anything reported lost or stolen.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form id="order-details-form" data-toggle="validator" role="form" autocomplete="off">
        <div class="form-group col-sm-4">
          <label class="control-label">Date</label>
          <div class='input-group date' id='datetimepicker'>
            <input name="date" type='text' class="form-control" readonly/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label" for="select">Time Range</label>
          <select class="form-control" data-bind="foreach: timeRangeOptions, value: selectedTimeRange" name="timeRange">
            <option data-bind="text: $data.range, value: $data, attr: { disabled: $data.disabled }"></option>
          </select>
        </div>
        <div class="col-xs-12">
          <p class="text-muted text-small italic">*Disabled dates & times mean we're overbooked or unavailable. We only accept orders up to 60 days in advance.*</p>
        </div>
        <div class="form-group col-xs-12">
          <label class="control-label">Description</label>
          <textarea data-bind="value: description" maxlength="250" class="form-control" placeholder="Special instructions, location details, access codes, etc."></textarea>
        </div>
      </form>
    </div>
    <div class="row">
      <legend class="col-xs-12">Vehicles</legend>
      <div class="col-xs-12">
        <div data-bind="template: { name: 'vehicle-tmpl', foreach: cars}"></div>
      </div>
    </div>
    <div class="row" data-bind="visible: showAddVehicleForm">
      <form id="add-vehicle-form" data-toggle="validator" role="form" data-bind="submit: OnSaveNewVehicle" autocomplete="off">
        <div class="form-group col-sm-6">
          <label class="control-label">Make</label>
          <input data-bind="value: make" name="make" placeholder="Volkswagen" class="form-control" maxlength="30">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Model</label>
          <input data-bind="value: model" name="model" placeholder="Golf" class="form-control" maxlength="30">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Color</label>
          <input data-bind="value: color" name="color" maxlength="12" placeholder="Silver" class="form-control">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label" for="select">Size</label>
          <select data-bind="options: carSizes, optionsText: 'size', value: selectedCarSize" class="form-control"></select>
        </div>
        <div class="text-center">
          <button data-bind="click: OnCancelNewVehicle" class="btn btn-default buffer-top">Cancel&nbsp;<span class="fa fa-times"></span></button>
          <button class="btn btn-primary buffer-top" type="submit">Save&nbsp;<span class="fa fa-save"></span></button>
        </div>
      </form>
    </div>
    <div class="text-center" data-bind="visible: !showAddVehicleForm()">
      <button data-bind="click: OnAddNewVehicle" class="btn btn-sm btn-primary">Add New&nbsp;
        <span class="fa fa-plus"></span>
      </button>
    </div>
    <div class="row">
      <legend class="col-xs-12">Location</legend>
      <div class="col-xs-12">
        <div data-bind="template: { name: 'location-tmpl', foreach: locations}"></div>
      </div>
    </div>
    <div class="row" data-bind="visible: showAddLocationForm">
      <form id="add-location-form" data-toggle="validator" role="form" data-bind="submit: OnSaveNewLocation" autocomplete="off">
        <div class="form-group col-sm-6">
          <label class="control-label">Street</label>
          <input data-bind="value: street" name="street" placeholder="1234 Maple St." class="form-control" maxlength="40">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">City</label>
          <input data-bind="value: city" name="city" placeholder="Sugartown" class="form-control" maxlength="40">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Zip</label>
          <input data-bind="value: zip" name="zip" type="tel" pattern="[0-9]*" maxlength="9" placeholder="12345" class="form-control">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Type</label>
          <select class="form-control" data-bind="options: locationTitleOptions, value: title"></select>
        </div>
        <div class="text-center">
          <button data-bind="click: OnCancelNewLocation" class="btn btn-default buffer-top">Cancel&nbsp;<span class="fa fa-times"></span></button>
          <button class="btn btn-primary buffer-top" type="submit">Save&nbsp;<span class="fa fa-save"></span></button>
        </div>
      </form>
    </div>
    <div class="text-center" data-bind="visible: !showAddLocationForm()">
      <button data-bind="click: OnAddNewLocation" class="btn btn-sm btn-primary">Add New&nbsp;
        <span class="fa fa-plus"></span>
      </button>
    </div>
    <form id="contact-details-form" data-toggle="validator" role="form" autocomplete="off">
      <div class="row">
        <legend class="col-xs-12">Contact</legend>
        <div class="form-group col-sm-6">
          <label class="control-label">First Name</label>
          <input data-bind="value: first" name="first" maxlength="30" class="form-control" placeholder="Johnny">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Last Name</label>
          <input data-bind="value: last" name="last" maxlength="30" class="form-control" placeholder="Appleseed">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Email</label>
          <input data-bind="value: email, disable: disableEmailInput" name="email" type="email" maxlength="45" placeholder="jappleseed@email.com" class="form-control">
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">Phone</label>
          <input id="phone" data-bind="value: phone" name="phone" type="tel" pattern="[0-9]*" class="form-control" maxlength="30" placeholder="(999) 999-9999">
        </div>
      </div>
    </form>
    <br>
    <form id="subscription-form" data-toggle="validator" role="form" autocomplete="off">
      <div class="row">
        <legend class="col-xs-12">Set It And Forget It</legend>
        <center class="pinch">
          <p class="text-muted text-small">* Subscriptions are good for one year *</p>
          <label class="radio-inline"><input type="radio" name="subcribe" data-bind="checked: hideSubscriptionForm, checkedValue: true">&nbsp;No thanks, this time only</label>
          <label class="radio-inline"><input type="radio" name="subcribe" data-bind="checked: hideSubscriptionForm, checkedValue: false">&nbsp;Yes! Repeat order every...</label>
        </center>
      </div>
      <div data-bind="visible: !hideSubscriptionForm()" class="row">
        <br>
        <div class="form-group col-xs-6">
          <select class="form-control" data-bind="options: subIntervals, value: selectedSubInterval"></select>
        </div>
        <div class="form-group col-xs-6">
          <select class="form-control" data-bind="foreach: subSpans, value: selectedSubSpan">
            <option data-bind="text: $data.display, value: $data"></option>
          </select>
        </div>
      </div>
    </form>
  </div> <!--.modal-body-->

  <!-- Important notice -->
  <div class="modal-footer">
    <div id="order-review-panel" class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Please Review Your Order!</h3>
      </div>
      <div class="panel-body">
        <p data-bind="html: orderSummary"></p>
        <p>Total: $<strong data-bind="text: discountedTotal"></strong></p>
      </div>
      <div class="panel-footer">
        <div class="input-group" data-bind="visible: !coupon()">
          <input type="text" class="form-control" placeholder="Coupon Code" data-bind="value: couponCode">
          <span class="input-group-btn">
            <button data-bind="click: OnApplyCoupon" class="btn btn-deault" type="button">Apply</button>
          </span>
        </div>
        <center id="invalid-coupon-alert" class="alert alert-danger fade in coupon-alert" role="alert" hidden>
          <strong>Bad news...</strong>&nbsp;<span>invalid or expired coupon code.</span>
        </center>
        <center id="success-coupon-alert" class="alert alert-info fade in coupon-alert" role="alert" hidden>
          <strong>Nice!</strong>&nbsp;Discount applied.&nbsp;$<span data-bind="text: discountRemaining"></span> remaining.&nbsp;<span data-bind="visible: coupon() && coupon().onlyUseOnce">This can not be used again.</span>
        </center>
      </div>
    </div> <!--.panel-->

    <!-- Submit -->
    <div class="control-group">
      <div class="controls">
        <center id="incomplete-form-alert" class="alert alert-danger fade in" role="alert" hidden>
          <strong>Whoops!</strong>&nbsp;<span data-bind="text: incompleteFormMsg"></span>
        </center>
        <center class="hidden-xs" data-bind="visible: discountedTotal() > 0">
          <button data-bind="click: OnFormCancel" class="btn btn-lg btn-danger">Cancel</button>
          <button class="btn btn-lg btn-default" data-bind="click: OnSubmit.bind($data,false)">Pay Then</button>
          <button class="btn btn-lg btn-primary" data-bind="click: OnSubmit.bind($data,true)">Pay Now</button>
        </center>
        <center class="hidden-sm hidden-md hidden-lg" data-bind="visible: discountedTotal() > 0">
          <button class="btn btn-md btn-default" data-bind="click: OnSubmit.bind($data,false)">Pay Then</button>
          <button class="btn btn-md btn-primary" data-bind="click: OnSubmit.bind($data,true)">Pay Now</button>
          <br>
          <button data-bind="click: OnFormCancel" class="btn btn-sm btn-danger buffer-top">Cancel</button>
        </center>
        <center class="hidden-xs" data-bind="visible: discountedTotal() == 0">
          <button data-bind="click: OnFormCancel" class="btn btn-lg btn-danger">Cancel</button>
          <button class="btn btn-lg btn-primary" data-bind="click: OnSubmit.bind($data,false)">WashMyCar!</button>
        </center>
        <center class="hidden-sm hidden-md hidden-lg" data-bind="visible: discountedTotal() == 0">
          <button data-bind="click: OnFormCancel" class="btn btn-md btn-danger">Cancel</button>
          <button class="btn btn-md btn-primary" data-bind="click: OnSubmit.bind($data,false)">WashMyCar!</button>
        </center>
      </div>
    </div>
  </div>
</div>