<div id="vehicle-templ" class="col-sm-4">
	<div class="panel panel-default option-panel vehicle-panel" 
	data-bind="click: $root.OrderFormViewModel.OnClickVehiclePanel.bind($data, $root.OrderFormViewModel), css: {'selected' : $data.selected}">
		<div class="panel-heading">
			<span data-bind="text: $data.make"></span>
			&nbsp;
			<span class="fa fa-car"></span>
		</div>
		<div class="panel-body">
			<span data-bind="text: $data.model"></span>
			<span data-bind="text: $data.year"></span>
			<span data-bind="text: $data.color"></span>
		</div>
	</div>
</div>